In [1]:
import pandas as pd

In [2]:
import matplotlib as plt

In [5]:
file = pd.read_csv('climate_change_upto_2000_1.csv')

In [6]:
file

,Station Name,Month,Period,No. of Years,Mean Temperature in degree C - Maximum,Mean Temperature in degree C - Minimum,Mean Rainfall in mm
0,Abu,January,1901-2000,100,19.3,8.0,5.3
1,Abu,February,1901-2000,100,21.0,10.0,4.4
2,Abu,March,1901-2000,100,25.3,14.5,6.5
3,Abu,April,1901-2000,100,29.4,18.7,2.6
4,Abu,May,1901-2000,100,31.5,21.0,16.4
...,...,...,...,...,...,...,...
1327,Vishakhapatnam,August,1968-2000,29,31.3,26.0,165.2
1328,Vishakhapatnam,September,1968-2000,29,31.3,25.8,164.0
1329,Vishakhapatnam,October,1968-2000,29,31.1,24.9,238.2
1330,Vishakhapatnam,November,1968-2000,29,29.6,23.1,124.0
1331,Vishakhapatnam,December,1968-2000,29,27.9,20.9,6.7

In [17]:
stations = file['Station Name'].unique().tolist()
stations

['Abu',
 'Agartala (A)',
 'Agra',
 'Ahmedabad',
 'Aijal/Aizwal',
 'Ajmer',
 'Akola (A)',
 'Allahabad',
 'Ambikapur',
 'Amini Divi',
 'Amritsar (Rajasansi)',
 'Anantpur',
 'Androth',
 'Aurangabad',
 'Balasore',
 'Bangalore',
 'Bareilly',
 'Baroda (A)',
 'Belgaum Samra',
 'Bhagalpur',
 'Bhatinda',
 'Bhopal (Bairagarh)',
 'Bhubaneshwar (A)',
 'Bhuj (Rudramata)',
 'Bikaner',
 'Cannanore',
 'Chandigarh',
 'Chennai (Minambakkam)',
 'Cherrapunji',
 'Coimbatore (Pilamedu)',
 'Cooch Behar',
 'Darjeeling',
 'Dehra Dun',
 'Dharmsala',
 'Dibrugarh/Mohanbari',
 'Gadag',
 'Gangtok',
 'Gaya',
 'Gopalpur',
 'Gorakhpur',
 'Gulbarga',
 'Guwahati (Bhorjar)',
 'Gwalior',
 'Hassan',
 'Hissar',
 'Hyderabad (A)',
 'Imphal/Tulihal',
 'Indore',
 'Jabalpur',
 'Jagdalpur',
 'Jaipur (Sanganer)',
 'Jaisalmer',
 'Jammu',
 'Jamshedpur',
 'Jharsuguda',
 'Jodhpur',
 'Joshimath',
 'Jullundur',
 'Kanpur (A)',
 'Kanyakumari',
 'Karnal',
 'Khajuraho',
 'Kodaikanal',
 'Kohima',
 'Kolkata (Alipur)',
 'Kota (A)',
 'Kozhikode (A)',
 'Lucknow (Amausi)',
 'Ludhiana',
 'Madurai (A)',
 'Mahabaleshwar',
 'Malda',
 'Manali',
 'Mangalore (Bajpe)',
 'Masulipatnam',
 'Minicoy',
 'Mukteswar (Kumaun)',
 'Mumbai (Santa Cruz)',
 'Mysore',
 'Nagpur (Sonegaon)',
 'Nainital',
 'Nasik',
 'New Delhi (Palam)',
 'New Delhi (SFD)',
 'Palakkad (Palghat)',
 'Panjim',
 'Parbhani',
 'Pasighat',
 'Patna (A)',
 'Pondicherry (A)',
 'Port Blair',
 'Pune',
 'Raipur',
 'Rajkot (A)',
 'Ranchi (A)',
 'Sambalpur',
 'Shillong',
 'Shimla',
 'Silchar',
 'Solapur',
 'Sri Niketan',
 'Srinagar',
 'Surat',
 'Thiruvananthapuram',
 'Tirupathy',
 'Tura',
 'Udaipur (Dabok)',
 'Uthagamandalam',
 'Varanasi (Babatpur)',
 'Vijayawada',
 'Vishakhapatnam']

In [30]:
can = file[file.Station Name == 'Cannanore']

SyntaxError: invalid syntax (<ipython-input-30-ee2328641150>, line 1)